/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2017, 4:45:28 AM
    Author     : miolivc
*/

html, body {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header, .footer {
    width: 100%;
    height: 12%;
    color: white;
    background: teal;
}

.header {
    top: 0;
    border-bottom: 2px solid crimson;
}

.footer {
    bottom: 0;
    border-top: 2px solid crimson;
}

.main {
    margin: auto;
    min-height: 75%;
}

.main h1 {
    padding: 5% 0 0 0;
    color: crimson;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid;
}

.menu li {
    margin: 0 auto;
    padding-top: 5%;
    display: inline-block;
    list-style: none;
    width: 15%;
    height: 100px;
    margin-right: 2%;
    background: crimson;
    text-transform: uppercase;
}

.menu a {
    margin: 0 auto;
    color: white;
    text-decoration: none;
    text-align: center;
}